html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display:flex; /* make outer panel as a flex box*/
}

.panel {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
    font-size 1s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 1s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    display:flex;/*make each panel as a flex box */
    flex:1; /* the extra space is equally distributed between the 5 panels inside the outer panel
             so that there is no extra space left*/
    justify-content: center;
    align-items:center;
    flex-direction:column; /*we want all the <p> tags inside each panel to be under one column*/
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(pexels-michael-block-3225517.jpg); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* Flex Items */
.panel > * { /*selects all children of each panel ie all the <p> tags */
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    /*border:1px solid red;*/
    flex:1 0 auto;
    display: flex; /*make each p as a flex box so that the content of p can also be centered*/
    justify-content: center;
    align-items: center;
}

.panel > *:first-child 
{ 
    /* we wanna transform the first <p> to get disappeared to top */
    transform: translateY(-100%); 
}
.panel.open-active > *:first-child 
{
   /* if the panel gets a class of open-active, then the first <p> will animate itself in ie. it will come down from the top */
    transform: translateY(0);
}
.panel > *:last-child
{
 /* we wanna transform the last<p> to get disappeared to bottom of the page */
 transform: translateY(100%);
}
.panel.open-active > *:last-child 
{
    /* if the panel gets a class of open-active, then the last <p> will animate itself in ie. come up from bottom */
    transform: translateY(0);
}

.panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
}

.panel p:nth-child(2) {
    font-size: 4em;
}
/* when the panel gets a class of open, then it must take 5 times the extra room as other panels */
.panel.open {
    /* so we reset flex:5 from flex:1 so that it takes 5 times the extra room as the rest of the panels*/
    flex: 5; 
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    .panel p {
    font-size: 1em;
    }
}
